// ------------------------------
// MIT Professional Education: Main Style Compile - LTR

// About: Main left-to-right Sass compile for the edX Web Certificates styling.

// ------------------------------
// #CONFIG - layout direction
// ------------------------------
$layout-direction: ltr;
$grid-direction-default: ltr;
$grid-direction-reversed: rtl;

// ------------------------------
// #BUILD
// ------------------------------
@import '~bi-app-sass/bi-app/bi-app-ltr';
@import 'build';
