// ------------------------------
// MIT Professional Education: Main Style Compile - RTL

// About: Main left-to-right Sass compile for the edX Web Certificates styling.

// ------------------------------
// #CONFIG - layout direction
// ------------------------------
$layout-direction: rtl;
$grid-direction-default: rtl;
$grid-direction-reversed: ltr;

// ------------------------------
// #BUILD
// ------------------------------
@import '~bi-app-sass/bi-app/bi-app-rtl';
@import 'build';
