[run]
branch = True
data_file = .coverage
source=credentials
omit =
    credentials/settings*
    credentials/conf*
    credentials/apps/core/s3utils.py
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*
