*
!.babelrc
!.eslintrc.json
!.isort.cfg
!.tx
!acceptance_tests
!credentials
!docs
!requirements
!gulpfile.js
!karma.conf.js
!Makefile
!manage.py
!package.json
!pylintrc
!pylintrc_tweaks
!pytest.ini
!README.rst
!requirements.txt
!webpack.config.js
!setup.cfg
