*
!.tx
!acceptance_tests
!credentials
!docs
!requirements
!.eslintrc.json
!.isort.cfg
!.pep8
!gulpfile.js
!karma.conf.js
!Makefile
!manage.py
!package.json
!pylintrc
!pylintrc_tweaks
!pytest.ini
!README.rst
!requirements.txt
!webpack.config.js
