language: python
python:
    - "2.7"
sudo: false

cache:
  - pip
  - directories:
    - node_modules
    - credentials/static/bower_components
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
install:
    - pip install -U pip wheel codecov
    - make requirements
script:
    - make static -e DJANGO_SETTINGS_MODULE="credentials.settings.test"
    - make validate
after_success:
    - codecov
