db:
  image: mysql:5.6
  container_name: db
  environment:
    MYSQL_ROOT_PASSWORD: ""
    MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

memcache:
  image: memcached:1.4.24
  container_name: memcache

credentials:
  # Uncomment this line to use the official credentials base image
  image: credentials:v1

  # Uncomment the next two lines to build from a local configuration repo
  #build: ../configuration
  #dockerfile: docker/build/credentials/Dockerfile

  container_name: credentials
  volumes:
    - .:/edx/app/credentials/credentials
  command: /edx/app/credentials/devstack.sh start
  ports:
    - "8150:8150" # TODO: change this to your port
