SOCIAL_AUTH_EDX_OIDC_KEY = 'replace-me'
SOCIAL_AUTH_EDX_OIDC_SECRET = 'replace-me'
SOCIAL_AUTH_EDX_OIDC_URL_ROOT = 'http://127.0.0.1:8000/oauth'
SOCIAL_AUTH_EDX_OIDC_ID_TOKEN_DECRYPTION_KEY = SOCIAL_AUTH_EDX_OIDC_SECRET

# Absolute URL used to construct URLs pointing to the programs service.
PROGRAMS_URL_ROOT = "http://127.0.0.1:8004"
# Programs api url
PROGRAMS_API_URL = '/api/v1/'
# Specified in seconds. Enable caching by setting this to a value greater than 0.
PROGRAMS_CACHE_TTL = 0

SOCIAL_AUTH_EDX_OIDC_KEY = 'programs-key'
SOCIAL_AUTH_EDX_OIDC_SECRET = 'programs-secret'
