from credentials.settings.base import INSTALLED_APPS

INSTALLED_APPS += ['credentials.apps.edx_credentials_extensions']

SOCIAL_AUTH_EDX_OAUTH2_KEY = 'credentials-key'
SOCIAL_AUTH_EDX_OAUTH2_SECRET = 'credentials-secret'
SOCIAL_AUTH_EDX_OAUTH2_URL_ROOT = 'http://127.0.0.1:8000/oauth2'
CLIENT_CREDENTIALS_EDX_OAUTH2_KEY = 'client-credentials-key'
CLIENT_CREDENTIALS_EDX_OAUTH2_SECRET = 'client-credentials-secret'

# CATALOG API CONFIGURATION
# Specified in seconds. Enable caching by setting this to a value greater than 0.
PROGRAMS_CACHE_TTL = 60

# USER API CONFIGURATION
# Specified in seconds. Enable caching by setting this to a value greater than 0.
USER_CACHE_TTL = 60
