SOCIAL_AUTH_EDX_OIDC_KEY = 'credentials-key'
SOCIAL_AUTH_EDX_OIDC_SECRET = 'credentials-secret'
SOCIAL_AUTH_EDX_OIDC_URL_ROOT = 'http://127.0.0.1:8000/oauth'
SOCIAL_AUTH_EDX_OIDC_ID_TOKEN_DECRYPTION_KEY = SOCIAL_AUTH_EDX_OIDC_SECRET

# PROGRAMS API CONFIGURATION
# Absolute URL used to get programs from the programs service.
PROGRAMS_API_URL = 'http://127.0.0.1:8004/api/v1/'
# Specified in seconds. Enable caching by setting this to a value greater than 0.
PROGRAMS_CACHE_TTL = 60
# JWT key and secret for programs service.
PROGRAMS_JWT_AUDIENCE = 'programs-key'
PROGRAMS_JWT_SECRET_KEY = 'programs-secret'

# ORGANIZATIONS API CONFIGURATION
# Absolute URL used to get organization data from the organizations api in LMS
ORGANIZATIONS_API_URL = 'http://127.0.0.1:8000/api/organizations/v0/'
# Specified in seconds. Enable caching by setting this to a value greater than 0.
ORGANIZATIONS_CACHE_TTL = 60
ORGANIZATIONS_AUDIENCE = 'lms-key'
ORGANIZATIONS_SECRET_KEY = 'lms-secret'

# USER API CONFIGURATION
# Absolute URL used to get user data from the user api in LMS
USER_API_URL = 'http://127.0.0.1:8000/api/user/v1/'
# Specified in seconds. Enable caching by setting this to a value greater than 0.
USER_CACHE_TTL = 60
USER_JWT_AUDIENCE = 'lms-key'
USER_JWT_SECRET_KEY = 'lms-secret'
