// ------------------------------
// MIT Professional Education: Certificate Rendering - Components

// About: (specifically for certificate rendering) styling for specific UI components ranging from global to modular.

// #RENDERING

// ------------------------------
// #RENDERING
// ------------------------------
.accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    font-family: $font-family-serif;
}

.wrapper-accomplishment-org {

  .organization-name {
    color: $headings-emphasized-color;
    font-weight: $headings-font-weight-bold;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(32);
    }
  }
}

.wrapper-accomplishment-orgs {

  img {
    max-width: 100%;
    max-height: 150px;

    @include susy-breakpoint($bp-screen-sm, $susy) {
      max-width: 300px;
    }
  }
}

.list-orgs {
  @extend %list-unstyled;
}

.wrapper-accomplishment-statement {

  .accomplishment-summary,
  .accomplishment-statement-detail,
  .accomplishment-statement-about {
    font-size: font-size(large);
  }

  .accomplishment-summary,
  .accomplishment-statement-detail {
    font-style: italic;
  }

  .accomplishment-recipient {
    line-height: 1.2;
    color: $headings-emphasized-color;
    font-weight: $headings-font-weight-bold;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(44);
    }
  }

  .accomplishment-course {
    line-height: 1.2;
    color: $headings-emphasized-color;
    font-weight: $headings-font-weight-bold;

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: rem(32);
    }
  }

  .accomplishment-course-dates,
  .accomplishment-course-time {
    font-size: font-size(large);
    font-weight: font-weight(normal);
    line-height: line-height(large);
  }

  .copy {

    @include susy-breakpoint($bp-screen-md, $susy) {
      font-size: font-size(large);
    }
  }
}

.wrapper-signatories {

  img {
    max-width: 100%;
    max-height: 150px;
  }
}

.signatory {
  margin-top: spacing-vertical(small);

  .signatory-signature {
    max-width: 60%;
    max-height: 60px;
  }

  .signatory-name {
    margin-top: spacing-vertical(x-small);
    margin-bottom: spacing-vertical(xx-small);
    border-top: rem(2) solid palette(grayscale, light);
    padding-top: spacing-vertical(x-small);
    color: $headings-emphasized-color;
    font-size: rem(14);
    font-weight: $headings-font-weight-bold;
  }

  .signatory-credentials {
    @extend %copy-micro;
    color: palette(grayscale, dark);

    .role {
      white-space: pre-line;
    }

    .organization {
      display: block;
    }
  }
}
