// ------------------------------
// MIT Professional Education: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// #VARIABLES
// #FUNCTIONS
// #MIXINS
// #HELPERS

// ------------------------------
// #VARIABLES
// ------------------------------
 $font-path: '../../bower_components/edx-pattern-library/pattern-library/fonts';
// $font-path: '/media/certificate_template_assets/'; // CERTPROD

$font-family-serif: Georgia, Times, 'Times New Roman', serif;

$cert-mitpe-color:  rgb(145, 23, 50);


// ------------------------------
// #FUNCTIONS
// ------------------------------


// ------------------------------
// #MIXINS
// ------------------------------


// ------------------------------
// #HELPERS
// ------------------------------
// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}
