{% load render_bundle from webpack_loader %}

{% with segment_key=site.siteconfiguration.segment_key %}
  {% if segment_key %}
    <script type="application/javascript">
        window.edx.segment = {
            key: '{{ segment_key }}'
        };

        {% if user %}
            window.edx.user = {
                name: '{{ user.get_full_name }}',
                email: '{{ user.email }}',
                // TODO Set this from tracking context when we get around to
                // adding that field to the Django user model.
                trackingId: 'credentials-{{ user.id }}'
            };
        {% endif %}
    </script>
    {% render_bundle 'analytics' 'js' %}
  {% endif %}
{% endwith %}
