{% load i18n %}
{% load staticfiles %}

<div class="wrapper-footer">
    <footer class="footer-app" role="contentinfo">
        <div class="footer-app-legal">
            <nav class="footer-app-nav" aria-label="{% trans 'Legal Policies' %}">
                <ul class="list list-legal">
                    <li class="nav-item">
                        <a class="action" href="{{ site.siteconfiguration.tos_url }}">
                            {% trans "Terms of Service & Honor Code" as tmsg %}{{ tmsg | force_escape }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="action" href="{{ site.siteconfiguration.privacy_policy_url }}">
                            {% trans "Privacy Policy" as tmsg %}{{ tmsg | force_escape }}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright-trademarks">
                <p class="copy">
                    <span class="copyright">&copy; {% now "Y" %}
                        <a href="{{ site.siteconfiguration.homepage_url }}">{{ site.siteconfiguration.company_name }}</a>
                    </span>
                    {% trans "All rights reserved except where noted. edX, Open edX and the edX and Open edX logos are registered trademarks or trademarks of edX Inc." as tmsg%}
                    {{ tmsg | force_escape }}
                </p>
            </div>
        </div>
        <div class="footer-app-related">
            <a class="img-link" href="https://open.edx.org/"><img class="logo-img logo-openedx" src="{% static 'images/edx-openedx-logo-tag.png' %}" alt="{% trans 'Powered by Open edX' as tmsg %}{{tmsg | force_escape}}"/></a>
        </div>
    </footer>
</div>
