{# Base template for edX-specific pages. #}

{% load i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
<head lang="{{ language_code }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% if LANGUAGE_BIDI %}
      {% render_bundle 'base.style-rtl' 'css' %}
    {% else %}
      {% render_bundle 'base.style-ltr' 'css' %}
    {% endif %}


    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="wrapper-view" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
        {% include '_header.html' %}

        {% block wrapper_content %}
        {% endblock wrapper_content %}
    </div>
{% endblock content %}

<script type="application/javascript">
    window.edx = {};
</script>

{% include '_analytics.html' %}

{% block javascript %}{% endblock %}
</body>
</html>
