{# Base template for edX-specific pages. #}

{% load i18n %}
{% load static %}
{% load statici18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% with render_language|default:"en" as page_language %}
{% language page_language %}
<html lang="{{page_language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" context="noindex">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- import fontawesome svgs and icons -->
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>

    {% if base_style_template %}
      {% include base_style_template %}
      {% render_bundle 'override-style' 'css' %}
    {% else %}
      {% include '_base_style.html' %}
    {%  endif %}
    <script src="{% statici18n page_language %}"></script>

    {# Hook for credentials themes to overwrite. #}
    {% block theme_meta %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="wrapper-view" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
        <a class="nav-skip sr-only sr-only-focusable" href="#main-content">{% trans "Skip to main content" %}</a>

        {% block header %}
          {% include '_header.html' %}
        {% endblock header %}

        {% block wrapper_content %}
        {% endblock wrapper_content %}
    </div>
{% endblock content %}

<script type="application/javascript">
    window.edx = {};
</script>

{% include '_analytics.html' %}

{% block javascript %}{% endblock %}
</body>
</html>
{% endlanguage %}
{% endwith %}
