{% extends 'base.html' %}
{% load html %}
{% load i18n %}

{% block title %}
  {% trans "My Learner Records" as tmsg %} {{ tmsg | htmlescape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
    <form action="/hijack/username/verified/" method="POST">
        {% csrf_token %}
        <button type="submit">Hijack verified</button>
    </form>
    <form action="/hijack/release-hijack/" method="POST">
        {% csrf_token %}
        <button type="submit">Reset Hijack</button>
    </form>
{% endblock %}

