{% load html %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% trans "Management View" as tmsg %} {{ tmsg | force_escape }}</title>
</head>
<body>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1>Caching</h1>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="action" value="clear_cache">
  <input type="submit" value="{% trans "Clear cache" as tmsg %}{{tmsg | force_escape}}">
</form>
</body>
</html>
