{% extends 'base.html' %}
{% load django_markup %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {% trans "{program_name} Record" as tmsg %}
  {% interpolate_html tmsg program_name=program_name as tmsg %}
  {{ tmsg | force_escape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <div id="masquerade">
    {% include child_templates.masquerade %}
  </div>
  <div id="program-record"></div>
  <div id="program-record-footer">
    {% include child_templates.footer %}
  </div>
{% endblock %}

{% block javascript %}
  {% render_bundle 'programs' 'js' %}
    {% if icons_template %}
      {% include icons_template %}
    {% else %}
      {% block program_record_factory %}
        <script type="text/javascript">
          ProgramRecordFactory('program-record', {
            record: JSON.parse('{{record|escapejs}}'),
            isPublic: {{ is_public|yesno:"true,false"}},
            uuid: '{{uuid}}',
            helpUrl: '{{records_help_url}}',
          });
        </script>
    {% endblock %}
    {% endif %}
{% endblock %}
