{% extends 'base.html' %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {% trans "My Learner Records" as tmsg %} {{ tmsg | htmlescape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <div id="records"></div>
  {% include child_templates.footer %}
{% endblock %}

{% block javascript %}
  {% render_bundle 'records' 'js' %}
  <script type="text/javascript">
    RecordsFactory('records', {
      programs: JSON.parse('{{programs|escapejs}}'),
      helpUrl: '{{records_help_url}}',
      profileUrl: '{{profile_url}}',
    });
  </script>
    {% if icons_template %}
        {% include icons_template %}
    {% endif %}
{% endblock %}

