{% extends 'base.html' %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ title | force_escape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <div id="masquerade">
    {% if child_templates.masquerade %}
      {% include child_templates.masquerade %}
    {% endif %}
  </div>
  <div id="records"></div>
  <div id="records-footer">
    {% include child_templates.footer %}
  </div>
{% endblock %}

{% block javascript %}
  {% render_bundle 'records' 'js' %}
    {% if icons_template %}
        {% include icons_template %}
    {% else %}
      {% block records_factory %}
        <script type="text/javascript">
        RecordsFactory('records', {
          title: '{{title}}',
          programs: JSON.parse('{{programs|escapejs}}'),
          programHelp: '{{program_help}}',
          helpUrl: '{{records_help_url}}',
          profileUrl: '{{profile_url}}',
        });
        </script>
      {% endblock %}
    {% endif %}
{% endblock %}
