{% extends 'edx.org/credentials/programs/base.html' %}
{% load i18n %}

{% block message %}
  {# Translators: MicroMasters should not be translated #}
  {% blocktrans trimmed with organization_name=program_details.organizations.0.key %}
    You worked hard to earn your MicroMasters Credential from {{ organization_name }}.
  {% endblocktrans %}
{% endblock %}

{% block accomplishment_summary %}
  {# Translators: MicroMasters should not be translated #}
  {% trans "has successfully completed all courses and received passing grades for a MicroMasters credential in" %}
{% endblock %}

{% block accomplishment_stamp_title %}
  {# Translators: MicroMasters should not be translated #}
  {% trans "MicroMasters credential" %}
{% endblock %}

{% block accomplishment_metadata_title %}
  {# Translators: MicroMasters should not be translated #}
  {% trans "About the edX MicroMasters credential" %}
{% endblock %}

{% block accomplishment_metadata %}
  {# Translators: MicroMasters should not be translated #}
  {% blocktrans trimmed %}
    An edX MicroMasters credential signifies that the learner has completed a group of courses that add up to a rich
    understanding of an area of study. Completion of MicroMasters Programs requires that learners earn
    <a href="https://www.edx.org/verified-certificate">Verified Certificates</a> from each of the courses included in
    the Program.
  {% endblocktrans %}
{% endblock %}
