{% load i18n %}
<div id="fb-root"></div>
<div class="wrapper-banner wrapper-banner-user">
    <section class="banner banner-user">
        <div class="message message-block message-notice">
            <div class="message-text">
                <h2 class="message-title">
                    {% blocktrans %}
                        Congratulations, {{username}}!
                    {% endblocktrans %}
                </h2>
                <p class="message-copy">
                    {% blocktrans %}
                        You worked hard to earn your XSeries certificate from {{organization_name}}.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="message-actions">
                <div class="message-actions-box">
                    <h3 class="sr-only">{% trans "Print your certificate:" %}</h3>
                    <button title="{% trans 'Print' %}" class="action action-print btn icon-only" id="action-print-view">
                        <i class="icon fa fa-print icon-print" aria-hidden="true"></i>
                        <span class="action-label">
                            {% trans "Print this certificate" %}</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
