{% load staticfiles %}
{% load i18n %}
<div class="wrapper-accomplishment-metadata">
    <div class="accomplishment-metadata">
        <div class="accomplishment-metadata-bit accomplishment-metadata-aboutedx">
            <h3 class="accomplishment-metadata-title">
                {% trans "About edX" %}</h3>
            <p class="accomplishment-metadata-copy">
                {% blocktrans %}
                    <a href="http://www.edx.org">edX</a> offers interactive online classes and MOOCs
                    from the world’s best universities, including MIT, Harvard, Berkeley,
                    University of Texas, and many others. edX is a non-profit online initiative
                    created by founding partners Harvard and MIT.
                {% endblocktrans %}
            </p>
        </div>

       <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
            <h3 class="accomplishment-metadata-title">{% trans "About edX XSeries Certificates" %}</h3>
            <p class="accomplishment-metadata-copy">
                {% blocktrans %}
                    An edX XSeries certificate signifies that the learner has completed
                    a group of courses that add up to a rich understanding of an area of study.
                    To complete an XSeries Program, learners must earn
                    <a href="http://www.edx.org/verified-certificate">Verified Certificates</a>
                    from each of the courses included in the series.
                {% endblocktrans %}
            </p>
        </div>
    </div>
</div>
