{% load staticfiles %}
{% load i18n %}
<div class="wrapper-footer">
    <footer class="footer-app" role="contentinfo" id="company-info">
        <div class="footer-app-legal">
            <nav class="footer-app-nav">
                <ul class="list list-legal">
                    <li class="nav-item">
                        <a class="action" href="https://www.edx.org/edx-terms-service">
                            {% trans "Terms of Service &amp; HonorCode" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="action" href="https://www.edx.org/edx-privacy-policy">
                            {% trans "Privacy Policy" %}</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright-trademarks">
                <p class="copy">
                            <span class="copyright">&copy;
                                <a href="http://www.edx.org">{% trans "edX Inc." %}</a>
                            </span>
                    {% blocktrans %}
                        All rights reserved except where noted. edX, Open edX and the edX and Open edX logos are registered
                        trademarks or trademarks of edX Inc.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="footer-app-related">
            <a class="img-link" href="http://edx.org/about">
                <img class="logo-img logo-openedx" src="{% static 'images/edx-openedx-logo-tag.png' %}" alt="Powered by Open edX"/>
            </a>
        </div>
    </footer>
</div>
