{% load staticfiles %}
{% load i18n %}
{% block content %}
<main class="accomplishment accomplishment-main">
    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
            <div class="wrapper-accomplishment-title xseries">
                <h2 class="accomplishment-title">
                    <span class="accomplishment-title-label">{% trans "XSeries" %}</span>
                        <span class="accomplishment-title-type">
                            {% blocktrans %}
                                Certificate <span class="deco">of</span> Achievement
                            {% endblocktrans %}
                        </span>
                </h2>

                <div class="wrapper-accomplishment-orgs">
                    <h3 class="accomplishment-orgs-title sr-only">
                        {% trans "Supported by the following organizations" %}
                    </h3>
                    <ul class="wrapper-orgs list-orgs">
                        <li class="wrapper-organization">
                            <div class="organization">
                                {% if organization and organization.logo %}
                                    <img class="organization-logo" src="{{organization.logo}}" alt="{{organization.short_name}} logo">
                                {% else %}
                                    <h4 class="organization-name">{{organization.short_name}}</h4>
                                {% endif %}
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="wrapper-accomplishment-statement">
                <div class="accomplishment-statement">
                    <p class="accomplishment-statement-lead">
                        <span class="accomplishment-statement-detail copy">{% trans "This is to certify that" %}</span>
                        <strong class="accomplishment-recipient">{{username}}</strong>
                        <span class="accomplishment-summary copy">
                            {% trans "successfully completed all courses in the XSeries Program" %}
                        </span>
                        <span class="accomplishment-program">
                            <span class="accomplishment-program-name">{{program_name}}</span>
                        </span>

                        <span class="accomplishment-statement-detail copy">
                            {% blocktrans %}
                                a series of {{program_course_count}} courses offered by {{organization.short_name}}
                                through edX.
                            {% endblocktrans %}
                        </span>
                    </p>
                </div>
                <div class="accomplishment-signatories">
                    <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" %}</h3>

                    <div class="wrapper-signatories">
                        <div class="list-signatories">
                            {% if signatories %}
                                {% for signatory in signatories %}
                                    <div class="signatory">
                                        {% if signatory.image %}
                                            <img class="signatory-signature" src="{{signatory.image.url}}" alt="{{signatory.name}}">
                                        {% endif %}
                                        <h4 class="signatory-name">{{signatory.name}}</h4>

                                        <p class="signatory-credentials">
                                            <span class="role">{{signatory.title }}</span>
                                            <span class="organization">MITx</span>
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-accomplishment-stamps">
                <ul class="accomplishment-stamps copy-list">
                    <li class="accomplishment-stamp-platform">
                        <a class="img-link" href="http://edx.org">
                            <img class="logo-img" src="{% static 'images/logo-edX.png' %}" alt="edX"/>
                        </a>
                    </li>
                    <li class="accomplishment-stamp-date">
                        <span class="title">{% trans "XSeries Certificate" %}</span>
                        <span class="copy-micro emphasized">Issued {{certificate_date_issued}}</span>
                    </li>
                    <li class="accomplishment-stamp-validity">
                        <span class="title">{% trans "Valid Certificate ID" %}</span>
                        <span class="emphasized">{{uuid}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-support">
        <div class="accomplishment-support">
            <div class="accomplishment-support-print">
                <p class="support-copy">
                    {% blocktrans %}
                        For tips and tricks on printing your certificate, view the
                        <a href="http://edx.readthedocs.org/projects/edx-guide-for-students/en/latest/SFD_certificates.html#web-certificates">
                            Web Certificates help documentation
                        </a>.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
