{% load compress %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head dir="{{dir_rtl}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{document_title}}</title>

    {% if dir_rtl == 'ltr' %}
        <link rel="stylesheet" href="https://edxuploads.s3.amazonaws.com/certificate_template_assets/1/edx-web-certificates-ltr.css" />
    {% else %}
        <link rel="stylesheet" href="https://edxuploads.s3.amazonaws.com/certificate_template_assets/1/edx-web-certificates-rtl.css" />
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/credentials/print_view.js' %}"></script>

 </head>
{% block content %}
<body class="layout-accomplishment view-valid-accomplishment {{dir_rtl}} is-idverified certificate certificate-xseries edx-icons" data-view="valid-accomplishment">
    <div class="wrapper-view" dir="{{dir_rtl}}">

        <!-- start header include -->
        {% include "credentials/static/_accomplishment-header.html" %}
        <!-- end header include -->
        <!-- start banner include -->
        {% include "credentials/static/_accomplishment-banner.html" %}
        <!-- end banner include -->
        <hr class="divider sr-only">

        {% include "credentials/static/_accomplishment-body.html" %}

        <hr class="divider sr-only">

        {% include "credentials/static/_accomplishment-about.html" %}

        <hr class="divider sr-only">

        {% include "credentials/static/_accomplishment-footer.html" %}
    </div>
</body>
{% endblock %}
</html>
