// ------------------------------
// // edX Web Certificates: Base

// About: Base resets and definitions (using shared resources from elements when appropriate).

// ------------------------------
// #RESET
// ------------------------------

// ------------------------------
// #BASE
// ------------------------------
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: palette(grayscale-cool, xx-light);
}

// ------------------------------
// #TYPOGRAPHY
// ------------------------------

// ------------------------------
// #ICONS
// ------------------------------
.edx-e {
    fill: $edx-e-purple;
}

.edx-e-d-overlap {
    fill: $edx-e-d-overlap-purple;
}

.edx-d {
    fill: $edx-d-grey;
}

.edx-d-x-overlap {
    fill: $edx-d-x-overlap-blue;
}

.edx-x {
    fill: $edx-x-blue;
}