// ------------------------------
// edX Web Certificates: Config

// About: variable and configuration overrides

// ------------------------------
// #VARIABLES
// ------------------------------
$credentials-image-path: '../images';
$accomplishment-professional-path: $credentials-image-path;
$accomplishment-verified-path: $credentials-image-path;
$accomplishment-xseries-path: $credentials-image-path;
$fa-font-path: "/static/bower_components/font-awesome/fonts";
$font-path: '../bower_components/edx-pattern-library/pattern-library/fonts';
