// ------------------------------
// edX Web Certificates: Config

// About: variable and configuration overrides

// ------------------------------
// #VARIABLES
// ------------------------------
 $font-path: '../bower_components/edx-pattern-library/pattern-library/fonts';

$accomplishment-verified-path: '/static/images';

$accomplishment-professional-path: '/static/images';

$accomplishment-xseries-path: '/static/images';
