// ------------------------------
// edX Pattern Library Site: LTR directional settings & support

// About: Sass partial for defining settings and utilities for LTR-centric layouts.

// #SETTINGS
// #LIB


// ----------------------------
// #SETTINGS
// ----------------------------
$layout-direction: ltr;
$grid-direction-default: ltr;
$grid-direction-reversed: rtl;

// ----------------------------
// #LIB
// ----------------------------
@import '~bi-app-sass/bi-app/bi-app-ltr';
