// ------------------------------
// edX Web Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #VARIANTS
// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #VARIANTS
// ------------------------------

// Replace `certificate` with `attestation`
.variant-mcgill {

  .wrapper-accomplishment-title {

   .accomplishment-title-type {
      display: block;
      font-size: rem(42);

      @include susy-breakpoint($bp-screen-md, $susy) {
       font-size: rem(51);
      }
    }

    &.verified {

      .accomplishment-title-type {
        display: block;
        font-size: rem(20);

        @include susy-breakpoint($bp-screen-md, $susy) {
          font-size: rem(22);
        }
      }
    }
  }
}

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------

// ------------------------------
// #SHAME
// ------------------------------
