// ------------------------------
// edX Web Certificates: Certificate Rendering - Print Specific Styling

// About: (specifically for certificate rendering) styling specific for print layouts.

// #LAYOUT
// #ELEMENTS
// #CASES

// ------------------------------
// #LAYOUT
// ------------------------------
@media print {

    .accomplishment-rendering {
        top: 0 !important;
        box-shadow: none;
        border: none;
        padding: spacing-vertical(x-small) spacing-horizontal(large);
        background-color: palette(grayscale, white-t);
        @include text-align(left);

        .wrapper-accomplishment-title {

          .accomplishment-title {
            display: inline-block;
            vertical-align: middle;
            width: span(8 of 12);
            margin-top: spacing-vertical(x-small);
            margin-bottom: 0;
          }
        }

        .wrapper-accomplishment-orgs {
            display: inline-block;
            vertical-align: middle;
            width: span(4 of 12);
            margin-top: spacing-vertical(base);
            margin-bottom: spacing-vertical(base);

              img {
                max-width: 100%;
                max-height: 100px;
            }
        }

        .accomplishment-statement {
            display: inline-block;
            vertical-align: top;
            width: span(8 of 12);
            margin-top: spacing-vertical(mid-large);
            border-bottom: 0;
            @include text-align(left);
        }

        .accomplishment-signatories {
            display: inline-block;
            vertical-align: top;
            width: span(4 of 12);
            @include margin-left(gutter(inside));
            border-bottom: 0;
            padding-bottom: 0;
            @include text-align(right);
        }

        .signatory {
            @include gallery(12 of 12);
            float: none;
            margin: 0;
            margin-bottom: spacing-vertical(x-small);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wrapper-accomplishment-stamps {
        margin-top: 0;
    }

    .accomplishment-stamps {
        margin-top: 0;

        .accomplishment-stamp-platform {
            display: inline-block;
            vertical-align: top;
            width: span(1 of 12);
            @include margin-right(gutter(inside));
            margin-bottom: 0;
            padding-top: 0;
        }

        .accomplishment-stamp-date {
            width: span(3 of 12);
            display: inline-block;
            vertical-align: top;
            @include margin-right(gutter(inside));
        }

        .accomplishment-stamp-validity {
            width: span(5 of 12);
            display: inline-block;
            vertical-align: top;
        }
    }
}

// ------------------------------
// #ELEMENTS
// ------------------------------
@media print {

    // accomplishment
    .wrapper-accomplishment-statement {

        .accomplishment-recipient {
            @extend .hd-2;
        }

        .accomplishment-course, .accomplishment-program {
            @extend .hd-3;
        }

        .copy {
            @extend .copy-meta;
            color: $text-de-emphasized-color;
        }

        .accomplishment-recipient,
        .accomplishment-course,
        .accomplishment-program, 
        .accomplishment-summary,
        .accomplishment-statement-detail {
            margin: 0 0  spacing-vertical(small) 0;
        }
    }

    .signatory {

        .signatory-signature {
          max-width: 50%;
          height: 40px;
        }

        .signatory-name,
        .signatory-credentials {
            margin-bottom: 2px;
            font-size: font-size(xxx-small);
            line-height: line-height(xxx-small);
        }
    }

    .accomplishment-stamps {

      .title {
        font-size: font-size(xxx-small);
        line-height: line-height(xxx-small);
      }

      .emphasized {
        font-weight: normal;
        font-size: font-size(xxx-small);
        line-height: line-height(xxx-small);
      }
    }
}

// ------------------------------
// #CASES
// ------------------------------
@media print {

    // certificate - honor
    .certificate-honor {

        .wrapper-accomplishment-title {

            .accomplishment-title-label {
                font-size: rem(40);
            }

            .accomplishment-title-type {
                font-size: rem(46) !important;
            }
        }
    }

    // certificate - verified
    .certificate-verified {

        .accomplishment-rendering {
            border: 1px solid palette(grayscale-cool, light);
            background-image: url("/static/images/verified-seal-grayscale-darker.png"); // LOCALDEV
//            background-image: url("/media/certificate_template_assets/18/verified-seal-grayscale-darker.png"); // SANDBOX
//            background-image: url("https://edxuploads.s3.amazonaws.com/certificate_template_assets/2/verified-seal-grayscale-darker.png"); // PROD
            background-position: -325px -50px;
            background-size: 100% auto;
        }
    }

    // certificate - profed
    .certificate-professionaled {

        .accomplishment-rendering {
            border: 1px solid palette(grayscale-cool, light);
            background-position: -325px -50px;
            background-size: 100% auto;
        }

        .accomplishment-stamp-date {
            width: span(4 of 12);
        }
    }

    // certificate - McGill variant Replace `certificate` with `attestation`
    .variant-mcgill {

        .wrapper-accomplishment-title {

            .accomplishment-title-type {
                font-size: rem(42)  !important;
            }

            &.verified {

                .accomplishment-title-type {
                    font-size: rem(22) !important;
                }
            }
        }
    }
    
}

