// ------------------------------
// edX Pattern Library Site: RTL directional settings & support

// About: Sass partial for defining settings and utilities for RTL-centric layouts.

// #SETTINGS
// #LIB


// ----------------------------
// #SETTINGS
// ----------------------------
$layout-direction: rtl;
$grid-direction-default: rtl;
$grid-direction-reversed: ltr;


// ----------------------------
// #LIB
// ----------------------------
@import '~bi-app-sass/bi-app/bi-app-rtl';
