// ------------------------------
// // edX Web Certificates: Utilities

// About: configuration, functions, variables, mixins, and general helpers for rendering.

// #VARIABLES
// #FUNCTIONS
// #MIXINS
// #HELPERS

// ------------------------------
// #VARIABLES
// ------------------------------
$em-base:                   16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)

// certificate characteristics
$cert-verified-color:       rgb(0, 136, 1);  // synced w lms variables
$cert-professionaled-color: rgb(181,42,103); // synced w lms variables
$cert-xseries-color: rgb(17, 16, 16); // synced w lms variables

// COLORS:                  social platforms
$twitter-blue:              #55ACEE;
$facebook-blue:             #3B5998;
$linkedin-blue:             #0077B5;

// ------------------------------
// #FUNCTIONS
// ------------------------------

// ------------------------------
// #MIXINS
// ------------------------------

// ------------------------------
// #HELPERS
// ------------------------------

// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

.img-link {
    @extend %reset-link;
}

// visual dividers
%divider-1 {
    border-bottom-width: rem(4);
    border-bottom-style: solid;
}

%divider-2 {
    border-bottom-width: rem(2);
    border-bottom-style: solid;
}
