$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)
$dark-gray: rgb(17, 16, 16);
$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$linkedin-blue: #0077B5;

$micromasters-color: #065784;
$micromasters-watermark-color: #005585;
$xseries-color: #424242;
$professional-certificate-color: #9a2061;
$professional-certificate-watermark-color: $xseries-color;

$edx-e-color: #b72768;
$edx-e-d-overlap-color: #78212e;
$edx-d-color: #8a8c8f;
$edx-d-x-overlap-color: #026ba4;
$edx-x-color: #209fda;

// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

.img-link {
    @extend %reset-link;
}

%divider-2 {
    border-bottom-width: 2rem;
    border-bottom-style: solid;
}

%text-meta {
  font-size: $font-size-sm;
  line-height: $line-height-lg;
}
