$em-base: 16; // deliberately sets bourbon-based em-base (http://bourbon.io/docs/#em-base)
$dark-gray: rgb(17, 16, 16);
$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;
$linkedin-blue: #0077B5;

$micromasters-color: #065784;
$micromasters-watermark-color: #005585;
$xseries-color: #424242;
$professional-certificate-color: #9a2061;
$professional-certificate-watermark-color: $xseries-color;

$edx-e-color: #b72768;
$edx-e-d-overlap-color: #78212e;
$edx-d-color: #8a8c8f;
$edx-d-x-overlap-color: #026ba4;
$edx-x-color: #209fda;

// #bootstrapupgrade
// Colors from edX bootstrap. Remove these when we update the libraries.
$white: #fff;
$gray-100: #f5f5f5;
$gray-200: #e7e7e7;
$gray-300: #d9d9d9;
$gray-400: #c8c8c8;
$gray-500: #a0a0a0;
$gray-600: #767676;
$gray-700: #414141;
$gray-800: #313131;
$gray-900: #111;
$black: #000;

// Font sizes
// Taken from edx-pattern library and put here as vars.
$font-xxxx-large: 2.375rem;
$font-xxx-large: 1.75rem;
$font-xx-large:1.5rem;
$font-x-large: 1.313rem;
$font-large:1.125rem;
$font-base:1rem;
$font-small:0.875rem;
$font-x-small:0.75rem;
$font-xx-small:0.688rem;
$font-xxx-small:0.625rem;

// Font weights
$font-weight-normal:400;
$font-weight-light:300;
$font-weight-x-light:200;
$font-weight-semi-bold:600;
$font-weight-bold:700;

//Line height vars
$line-height-large: 1.6;
$line-height-small: 1.5;

// don't link style me, bro!
%reset-link {
    border-bottom: none;
    padding: 0;

    &:hover, &:focus, &:active {
        border-bottom: 0;
    }
}

.img-link {
    @extend %reset-link;
}

%divider-2 {
    border-bottom-width: 2rem;
    border-bottom-style: solid;
}

// Replacement for pattern-library classes
%text-micro {
  font-size: $font-x-small;
  line-height: $line-height-small;
}

%text-meta {
  font-size: $font-size-sm;
  line-height: $line-height-lg;
}

%h7 {
  @extend .h6;
  @extend %text-meta;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}
