// ------------------------------
// edX Web Certificates: Views

// About: styling for specific views.

// #HONOR CODE CERT
// #VERIFIED CERT
// #PROFESSIONAL EDUCATION CERT


// ------------------------------
// #HONOR CODE CERT
// ------------------------------


// ------------------------------
// #VERIFIED CERT
// ------------------------------
.certificate-verified {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-image: url("/static/images/verified-seal-grayscale.png"); // LOCALDEV
//    background-image: url("/media/certificate_template_assets/11/verified-seal-grayscale.png"); // SANDBOX
//    background-image: url("https://edxuploads.s3.amazonaws.com/certificate_template_assets/5/verified-seal-grayscale.png"); // PROD
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
  }

}


// ------------------------------
// #PROFESSIONAL EDUCATION CERT
// ------------------------------
.certificate-professional {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-image: url("/static/images/professionaled-seal-grayscale.png"); // LOCALDEV
//    background-image: url("/media/certificate_template_assets/19/professionaled-seal-grayscale.png"); // SANDBOX
//    background-image: url("https://edxuploads.s3.amazonaws.com/certificate_template_assets/32/professionaled-seal-grayscale.png"); // PROD
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
  }

  .accomplishment-stamp-date {

    @include susy-breakpoint($bp-screen-md, $susy) {
      width: span(4 of 12);
    }
  }

}

// ------------------------------
// #XSERIES PROGRAM CERT
// ------------------------------
.certificate-xseries {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-image: url("/static/images/xseries-seal-grayscale.png"); // LOCALDEV
//    background-image: url("/media/certificate_template_assets/11/xseries-seal-grayscale.png"); // SANDBOX
//    background-image: url("https://edxuploads.s3.amazonaws.com/certificate_template_assets/5/xseries-seal-grayscale.png"); // PROD
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
  }

}
