.certificate {
  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;
    overflow: hidden;
    position: relative;

    @include susy-breakpoint($bp-screen-md, $susy) {
      background-position: center 40px;
      background-size: 50% auto;
    }

    @include susy-breakpoint($bp-screen-lg, $susy) {
      background-position: -325px -50px;
      background-size: 100% auto;
    }

    .watermark {
      @include left(-325px);
      position: absolute;
      z-index: 0;
      top: -49px;
      width: 100%;
      height: auto;
    }
  }
}
