// ------------------------------
// edX Web Certificates: Views

// About: styling for specific views.

// #HONOR CODE CERT
// #VERIFIED CERT
// #PROFESSIONAL EDUCATION CERT


// ------------------------------
// #HONOR CODE CERT
// ------------------------------


// ------------------------------
// #VERIFIED CERT
// ------------------------------
.certificate-verified {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-image: url("#{$accomplishment-verified-path}/verified-seal-grayscale.png");
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
  }

}


// ------------------------------
// #PROFESSIONAL EDUCATION CERT
// ------------------------------
.certificate-professional {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-image: url("#{$accomplishment-professional-path}/professionaled-seal-grayscale.png");
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
  }

  .accomplishment-stamp-date {

    @include susy-breakpoint($bp-screen-md, $susy) {
      width: span(4 of 12);
    }
  }

}

// ------------------------------
// #XSERIES PROGRAM CERT
// ------------------------------
.certificate-xseries {

  .accomplishment-rendering {
    background-color: palette(grayscale, white-t);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;
    overflow: hidden;
    position: relative;

      @include susy-breakpoint($bp-screen-md, $susy) {
        background-position: center 40px;
        background-size: 50% auto;
      }

      @include susy-breakpoint($bp-screen-lg, $susy) {
        background-position: -325px -50px;
        background-size: 100% auto;
      }
    .background-image{
      @include left(-325px);
      position: absolute;
      z-index: 0;
      top: -49px;
      width: 100%;
      height: auto;
    }
  }

}
