// ------------------------------
// Overrides styles

// ------------------------------

.pgn__data-table-cell-wrap {
    max-width: 20vw;
    display: table-cell !important;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.alert {
  .btn {
    font-size: .875rem !important;
    font-weight: 500 !important;
  }
}
