{% extends '../../common/base_body.html' %}

{% load i18n %}
{% autoescape off %}

{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% trans "Hello" %},
            </p>
            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}Congratulations on completing the {{ program_title }} {{ program_type }} Program!{% endblocktrans %}
            </p>
            {% comment %} TODO: When we move towards accepting user input in the email templates we need to remove the `safe` keyword {% endcomment %}
            {{ custom_email_html_template_extra |safe }}
            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}Sincerely,<br/>The {{ platform_name }} Team{% endblocktrans %}
            </p>
        </td>
    </tr>
</table>
{% endblock %}
{% endautoescape %}
