{# Base template for credentials-specific pages. #}
{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    {{ certificate_context.credential_type }} | {% firstof site.name platform_name %}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'sass/main-ltr.scss' %}" type="text/x-scss">
{% endblock %}

{% block content %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/credentials/print.js' %}"></script>
{% endblock %}
