{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ certificate_context.credential_type }} | {% firstof site.name platform_name %}
{% endblock title %}

{% block content %}
  {% include certificate_context.credential_template %}
{% endblock %}

{% block javascript %}
  {{ block.super }}

  {% if enable_facebook_sharing %}
    <script type="application/javascript">
        window.edx.facebook = {
            enabled: {{ enable_facebook_sharing|yesno:"true,false" }},
            appId: '{{ facebook_app_id|escapejs }}',
            href: '{{ share_url|escapejs }}'
        };
    </script>

    {# NOTE (CCB): This currently only deals with Facebook. #}
    {# If this script changes, move this call outside of the conditional. #}
    {% render_bundle 'sharing' 'js' %}
  {% endif %}
{% endblock %}
