{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="layout-accomplishment view-valid-accomplishment ltr certificate certificate-xseries" data-view="valid-accomplishment">

    <div class="wrapper-view" dir="ltr">

        <div class="wrapper-header">
            <header class="header-app" role="banner">
                <h1 class="header-app-title">
                    <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
                        <img class="logo-img" src="{% static 'images/logo-edX.png' %}" alt="{% firstof site.name platform_name %}" />
                    </a>
                    <span class="sr-only">{% firstof site.name platform_name %}</span>
                </h1>
            </header>
        </div>

        <hr class="divider sr-only">
        <div id="fb-root"></div>

        <div class="wrapper-banner wrapper-banner-user">
            <section class="banner banner-user">
                <div class="message message-block message-notice">
                    <div class="message-text">
                        <h2 class="message-title">
                            {% blocktrans with user_name=certificate_context.user_data.name %}
                                Congratulations, {{ user_name }}!
                            {% endblocktrans %}
                        </h2>

                        <p class="message-copy">
                            {% blocktrans with organization_name=certificate_context.organization_data.short_name %}
                                You worked hard to earn your XSeries certificate from {{ organization_name }}.
                            {% endblocktrans %}
                        </p>
                    </div>
                    <div class="message-actions">
                        <div class="message-actions-box">
                            <h3 class="sr-only">{% trans "Print or share your certificate:" %}</h3>

                            % if facebook_share_enabled:
                                <button class="action action-share-facebook btn icon-only" id="action-share-facebook" title="${_('Share on Facebook')}">
                                    <i class="icon fa fa-facebook-official" aria-hidden="true"></i>
                                    <span class="action-label">${_("Share this certificate on Facebook (opens a new tab/window)")}</span>
                                </button>
                            %endif

                            % if twitter_share_enabled:
                            <button title="${_('Share on Twitter')}" class="action action-share-twitter btn icon-only">
                                <i class="icon fa fa-twitter" aria-hidden="true"></i>
                                <span class="action-label">${_("Tweet this certificate (opens a new tab/window)")}</span>
                            </button>
                            %endif

                            %if linked_in_url:
                            <button class="action action-share-linkedin btn icon-only" id="action-share-linkedin" title="${_('Add to LinkedIn Profile')}" data-course-id="${course_id}" data-certificate-mode="${course_mode}">
                                <i class="icon fa fa-linkedin" aria-hidden="true"></i>
                                <span class="action-label">${_("Add this certificate to your LinkedIn profile (opens a new tab/window)")}</span>
                            </button>
                            %endif
                            
                            <button title="{% trans 'Print' %}" class="action action-print btn icon-only" onclick="window.print();">
                                <i class="icon fa fa-print icon-print" aria-hidden="true"></i>
                                <span class="action-label">{% trans "Print this certificate" %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <main class="accomplishment accomplishment-main">

            <div class="wrapper-accomplishment-rendering">
                <div class="accomplishment-rendering">
                    <img src="{% static 'images/xseries-seal-grayscale.png' %}" class="background-image">
                    <div class="wrapper-accomplishment-title xseries">
                        <h2 class="accomplishment-title">
                            <span class="accomplishment-title-label">{% trans "XSeries" %}</span>
                            <span class="accomplishment-title-type">
                                {% blocktrans with span_start='<span class="deco">' span_end='</span>' %}
                                    Certificate {{ span_start }} of {{ span_end }} Achievement
                                {% endblocktrans %}
                            </span>
                        </h2>

                        <div class="wrapper-accomplishment-orgs">
                            <h3 class="accomplishment-orgs-title sr-only">
                                {% trans "Supported by the following organizations" %}
                            </h3>
                            <ul class="wrapper-orgs list-orgs">
                                <li class="wrapper-organization">
                                    <div class="organization">
                                        {% if certificate_context.organization_data and certificate_context.organization_data.logo %}
                                            <img class="organization-logo" src="{{ certificate_context.organization_data.logo }}" alt="{{ certificate_context.organization_data.name }} {% trans 'logo' %}">
                                        {% else %}
                                            <h4 class="organization-name">{{ certificate_context.organization_data.name }}</h4>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-statement">
                        <div class="accomplishment-statement">
                            <p class="accomplishment-statement-lead">
                                {% blocktrans with user_name=certificate_context.user_data.name program_type=certificate_context.program_details.type %}
                                    <span class="accomplishment-statement-detail copy">This is to certify that</span>
                                    <strong class="accomplishment-recipient">{{ user_name }}</strong>
                                    <span class="accomplishment-summary copy">successfully completed all courses in the {{ program_type }} Program</span>
                                {% endblocktrans %}
                                <span class="accomplishment-program">
                                    <span class="accomplishment-program-name">
                                        {% firstof certificate_context.credential_title certificate_context.program_details.title %}
                                    </span>
                                </span>

                                <span class="accomplishment-statement-detail copy">
                                    {# Translators: course_count is an integer value, and name is the display name for the provided organization e.g Test Organization. #}
                                    {% blocktrans with course_count=certificate_context.program_details.course_count name=certificate_context.organization_name platform_name=platform_name %}
                                        a series of {{ course_count }} courses offered by {{ name }} through {{ platform_name }}.
                                    {% endblocktrans %}
                                </span>
                            </p>
                        </div>
                        <div class="accomplishment-signatories">
                            <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" %}</h3>

                            <div class="wrapper-signatories">
                                <div class="list-signatories">
                                    {% for signatory in user_credential.credential.signatories.all %}
                                    <div class="signatory">
                                        {% if signatory.image %}
                                            <img class="signatory-signature" src="{{signatory.image.url}}" alt="{{signatory.name}}">
                                        {% endif %}
                                        <h4 class="signatory-name">{{ signatory.name }}</h4>

                                        <p class="signatory-credentials">
                                            <span class="role">{{ signatory.title }}</span>
                                                <span class="organization">{% firstof signatory.organization_name_override certificate_context.organization_data.name %}</span>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-stamps">
                        <ul class="accomplishment-stamps copy-list">
                            <li class="accomplishment-stamp-platform">
                                <a class="img-link" href="http://edx.org">
                                    <img class="logo-img" src="{% static 'images/logo-edX.png' %}" alt="{{ platform_name }}"/>
                                </a>
                            </li>
                            <li class="accomplishment-stamp-date">
                                <span class="title">{{ certificate_context.credential_type }}</span>
                                <span class="copy-micro emphasized">{% trans "Issued " %} {{ user_credential.modified|date:"F Y" }}</span>
                            </li>
                            <li class="accomplishment-stamp-validity">
                                <span class="title">{% trans "Valid Certificate ID" %}</span>
                                <span class="emphasized">{{ user_credential.uuid.hex }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wrapper-accomplishment-support">
                <div class="accomplishment-support">
                    <div class="accomplishment-support-print">
                        <p class="support-copy">
                            {% blocktrans with link_start='<a href="http://edx.readthedocs.org/projects/edx-guide-for-students/en/latest/SFD_certificates.html#web-certificates">' link_end='</a>' %}
                                For tips and tricks on printing your certificate, view the
                                {{ link_start}}  Web Certificates help documentation {{ link_end }}.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="wrapper-accomplishment-metadata">
                <div class="accomplishment-metadata">
                    <div class="accomplishment-metadata-bit accomplishment-metadata-aboutedx">
                        <h3 class="accomplishment-metadata-title">{% trans "About edX" %}</h3>

                        <p class="accomplishment-metadata-copy">
                            {% blocktrans with link_start='<a href="http://www.edx.org">' link_end='</a>' platform_name=platform_name %}
                                {{ link_start }} {{ platform_name }} {{ link_end }}
                                offers interactive online classes and MOOCs from the world’s best universities,
                                including MIT, Harvard, Berkeley, University of Texas, and many others. {{ platform_name }} is a non-profit
                                online initiative created by founding partners Harvard and MIT.
                            {% endblocktrans %}
                        </p>
                    </div>

                    <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
                        <h3 class="accomplishment-metadata-title">{% trans "About edX XSeries Certificates" %}</h3>

                        <p class="accomplishment-metadata-copy">
                            {% blocktrans with link_start='<a href="http://www.edx.org/verified-certificate">' link_end='</a>' platform_name=platform_name %}
                                An {{ platform_name }} XSeries certificate signifies that the learner has completed a group of courses that
                                add up to a rich understanding of an area of study. To complete an XSeries Program, learners
                                must earn {{ link_start }}Verified Certificates{{ link_end }} from
                                each of the courses included in the series.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <hr class="divider sr-only">

        <div class="wrapper-footer">
            <footer class="footer-app" role="contentinfo" id="company-info">
                <div class="footer-app-legal">
                    <nav class="footer-app-nav">
                        <ul class="list list-legal">
                            <li class="nav-item">
                                {% blocktrans with link_start='<a class="action" href="https://www.edx.org/edx-terms-service">' link_end='</a>' %}
                                    {{ link_start }}Terms of Service &amp; Honor Code
                                {% endblocktrans %}
                            </li>
                            <li class="nav-item">
                                {% blocktrans with link_start='<a class="action" href="https://www.edx.org/edx-privacy-policy">' link_end='</a>' %}
                                    {{ link_start }} Privacy Policy {{ link_end }}
                                {% endblocktrans %}
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright-trademarks">
                        <p class="copy">
                            <span class="copyright">&copy;
                                <a href="http://www.edx.org">{% trans "edX Inc." %}</a>
                            </span>
                            {% trans "All rights reserved except where noted. edX, Open edX and the edX and Open edX logos are registered trademarks or trademarks of edX Inc." %}
                        </p>
                    </div>
                </div>
                <div class="footer-app-related">
                    <a class="img-link" href="http://edx.org/about"><img class="logo-img logo-openedx" src="{% static 'images/edx-openedx-logo-tag.png' %}" alt="{% trans 'Powered by Open edX' %}"/></a>
                </div>
            </footer>
        </div>
    </div>
</div>
{% endblock %}
