{% load i18n %}
{% block title %}
        {% trans "XSeries Certificate" %} | {{ platform_name }}
{% endblock %}

{% block content %}
    {{ certificate_context.programs_data.course_count }}
    {{ certificate_context.programs_data.organization_key }}
    {{ certificate_context.programs_data.category }}

    {{ certificate_context.organization_data.name }}
    {{ certificate_context.organization_data.short_name }}
    {{ certificate_context.organization_data.description }}
    {{ certificate_context.organization_data.logo }}

    {{ user_credential.username }}
    {{ user_credential.modified|date:"F d, Y" }}
    {{ user_credential.uuid }}
{% endblock %}
