{% extends 'credentials/programs/base.html' %}
{% load i18n_assets %}
{% load i18n %}
{% load staticfiles %}

{% block accomplishment_summary %}
  {% trans "successfully completed all courses and received passing grades for a Professional Certificate in" as tmsg %} {{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_stamp_title %}
  {% trans "Professional Certificate" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block background_watermark %}
  {% include 'openedx/images/example-watermark.svg' %}
{% endblock %}

{% block background_logo %}
    {% include 'openedx/images/example-logo.svg'|translate_file_path %}
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    <img src="{% static 'images/openedx-logo.png' %}">
  </a>
{% endblock %}
