{% extends 'credentials/programs/base.html' %}
{% load i18n %}


{% block background_watermark %}
  {% include 'edx.org/images/'|add:program_type|add:'-watermark.svg' %}
{% endblock %}

{% block background_logo %}
  {% include 'edx.org/images/'|add:program_type|add:'-logo.svg' %}
{% endblock %}

{% block certificate_metadata %}
  <div class="wrapper-accomplishment-metadata">
    <div class="accomplishment-metadata">
      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutedx">
        <h3 class="accomplishment-metadata-title">
          {% trans "About edX" %}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% blocktrans trimmed %}
            <a href="https://www.edx.org">edX</a> offers interactive online classes and MOOCs from
            the world’s best universities, including MIT, Harvard, Berkeley, University of Texas, and many others. edX
            is a non-profit online initiative created by founding partners Harvard and MIT.
          {% endblocktrans %}
        </p>
      </div>

      <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
        <h3 class="accomplishment-metadata-title">
          {% block accomplishment_metadata_title %}{% endblock %}
        </h3>
        <p class="accomplishment-metadata-copy">
          {% block accomplishment_metadata %}{% endblock %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    {% include 'edx.org/images/edx-logo.svg' %}
  </a>
{% endblock %}
