$btn-blue-hover-light: #F2F8FB;
$masquerade-blue: #0075b4;
$masquerade-dark: #000;
$masquerade-white: #fff;
$masquerade-baseline: 20px;

.masquerade-banner-wrapper {
  background: $masquerade-blue;

  .masquerade-banner-actions {
    .masquerade-info-text, .masquerade-label {
      color: $masquerade-white;

      @include ltr {
        padding-right: ($masquerade-baseline*0.5);
      }
      
      @include rtl {
        padding-left: ($masquerade-baseline*0.5);
      }
    }

    .masquerade-form {
      padding: $masquerade-baseline $masquerade-baseline 0;

      .masquerade-select, .masquerade-input {
        color: $masquerade-dark;
        margin-bottom: ($masquerade-baseline*0.75);
      }
  
      .btn-masquerade {
        margin-bottom: ($masquerade-baseline*0.2);
        padding: 0.25rem 1rem;
        border: 0;
        background: $masquerade-white;
        color: $masquerade-dark;
        line-height: 1;
  
        &:hover,
        &:active,
        &:focus {
          background: $btn-blue-hover-light;
        }
      }
    }
  }

  // Needed to override edx-pattern-library default .alert styles
  .alert-danger {
    @extend .alert-danger;
    border: 1px solid #e9b9bc;
    box-shadow: none;
    color: #5d0308;
    background: #f0cdcf;
  }

  // Needed to override paragon default .alert styles
  .alert {
    .btn {
        font-size: 24px;
        font-weight: bold;
    }
  }

  .alert-body {
      display: block;
      color: #4d4b4b;
  }
}
