$btn-blue: #0075b4;
$table-border-color: #D3D2D2;
$record-border-color: #C2C2C2;

.program-record-wrapper {
  color: $gray-700;

  .alert-success {
    @extend .alert-success;
    border: 1px solid #b8dcb8;
    box-shadow: none;
    color: #004300;
    background: #cce6cc;
  }

  .alert-danger {
    @extend .alert-danger;
    border: 1px solid #e9b9bc;
    box-shadow: none;
    color: #5d0308;
    background: #f0cdcf;
  }

  // Needed to override paragon default .alert styles
  .alert {
    .btn {
        font-size: 24px;
        font-weight: bold;
    }
  }

  .alert-body {
      display: block;
      color: #4d4b4b;
  }

  .modal-dialog {
    max-width: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .modal-header {
    .modal-title {
      font-size: 1.5em;
    }

    .btn {
      color: $black;
      border: none;
    }
  }

  .modal-body {
    .url-group .form-group {
      padding: 0;
      .form-control {
        -webkit-text-fill-color: inherit;
      }
    }
  }

  // Override color to match edx-bootstrap
  .badge-success {
    background-color: #008100;
  }

  .btn-primary {
    background-color: $btn-blue;
  }

  // Paragon uses btn-secondary, but we want the effect of btn-outline-primary
  .btn-outline-primary, .btn-secondary {
    color: $btn-blue;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $btn-blue;
    }
  }

  // Needed to override paragon default .disabled styles
  .modal-footer {
    button[disabled] {
      color: #ffffff;
    }
  }

  .program-record-share-url {
    cursor: text;
    background-color: transparent;
  }

  .loading-wrapper {
    .fa {
      margin-right: 10px;
    }
  }

  .form-group {
    padding: 0 20px;
  }

  .badge {
    font-size: .875rem;
    padding: 7px 10px;
  }

  // Needed to override edx-pattern-library default .table styles
  .table {
    th {
      border: {
        top: none;
        right: none;
        bottom: 2px solid $table-border-color;
        left: none;
      };
    }

    td {
      border: none;
    }

    .badge {
      width: 100%;
    }
  }

  .program-record {
    border: 1px solid $record-border-color;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .program-record-header {
    position: relative;
    margin-bottom: 20px;
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .program-type {
      display: flex;
      align-items: center;
    }

    .program-icon {
      width: 20px;
      height: 28px;

      @include ltr {
        margin-right: 10px;
      }

      @include rtl {
        margin-left: 10px;
      }
    }
  }

  .school-name {
    align-self: center;

    @include media-breakpoint-up(md) {
      align-self: start;
    }
  }

  .program-record-actions {
    margin-bottom: 20px;
    @extend .d-flex;

    .top-bar-link {
      @include ltr {
        @extend .mr-auto;

        .fa-caret-right{
          display: none;
        }
      }

      @include rtl {
        @extend .ml-auto;

        .fa-caret-left{
          display: none;
        }
      }
    }

    .btn {
      @include ltr {
        margin-left: 10px;
      }

      @include rtl {
        margin-right: 10px;
      }
    }
  }

  .program-overview {
    position: relative;

    .program-headings{
      display: flex;
      flex-direction: column-reverse;

    }

    .program-status {
      flex-direction: column;

      .badge {
        @include ltr {
          margin-right: 10px;
        }

        @include rtl {
          margin-left: 10px;
        }

        width: fit-content;
      }

      .updated {
        margin: auto 0;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

  }

  .learner-info {
    .user {
      margin: 0;
    }

    .pipe {
      margin: 0 10px;
    }

    @include ltr {
      .details-rtl{
        display: none;
      }
    }

    @include rtl {
      .details-ltr{
        display: none;
      }
    }
  }
}
