$table-border-color: #D3D2D2;
$record-border-color: #C2C2C2;

.program-record-wrapper {
  // Needed to override edx-pattern-library default .btn styles
  .btn-primary {
    @extend .btn-primary;

    &:active {
      @extend .btn-primary;
      @extend .btn-primary:active;
    }
    &:focus {
      @extend .btn-primary;
      @extend .btn-primary:focus;
    }
    &:hover {
      @extend .btn-primary;
      @extend .btn-primary:hover;
    }
  }

  // Needed to override edx-pattern-library default .btn styles
  // Go from secondary -> outline-primary because we aren't yet using
  // edx-bootstrap, which I believe defines secondary like outline-primary.
  // (e.g. Paragon components use secondary, but want the style of raw
  // bootstrap's outline-primary)
  .btn-secondary {
    @extend .btn-outline-primary;

    &:active {
      @extend .btn-outline-primary;
      @extend .btn-outline-primary:active;
    }
    &:focus {
      @extend .btn-outline-primary;
      @extend .btn-outline-primary:focus;
    }
    &:hover {
      @extend .btn-outline-primary;
      @extend .btn-outline-primary:hover;
    }
  }

  // Needed to override edx-pattern-library default .alert styles
  .alert-success {
    @extend .alert-success;
    border: 1px solid #b8dcb8;
    box-shadow: none;
    color: #004300;
    background: #cce6cc;
  }

  // Needed to override edx-pattern-library default .alert styles
  .alert-danger {
    @extend .alert-danger;
    border: 1px solid #e9b9bc;
    box-shadow: none;
    color: #5d0308;
    background: #f0cdcf;
  }

  // Needed to override paragon default .alert styles
  .alert {
    .btn {
        font-size: 24px;
        font-weight: bold;
    }
  }

  .alert-body {
      display: block;
  }

  .modal-header {
    .modal-title {
      font-size: 1.5em;
    }

    .btn {
      color: $black;
      border: none;
    }
  }

  .loading-wrapper {
    .fa {
      margin-right: 10px;
    }
  }

  .form-group {
    padding: 0 20px;
  }

  .badge {
    font-size: .875rem;
    padding: 7px 10px;
  }

  // Needed to override edx-pattern-library default .table styles
  .table {
    th {
      border: {
        top: none;
        right: none;
        bottom: 2px solid $table-border-color;
        left: none;
      };
    }

    td {
      border: none;
    }

    .badge {
      width: 100%;
    }
  }

  .program-record {
    border: 1px solid $record-border-color;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .program-record-header {
    position: relative;
    margin-bottom: 20px;
    flex-direction: column-reverse;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .program-type {
      display: flex;
      align-items: center;
    }

    .program-icon {
      width: 20px;
      height: 28px;
      margin-right: 10px;
    }
  }

  .school-name {
    align-self: center;

    @include media-breakpoint-up(md) {
      align-self: start;
    }
  }

  .program-record-actions {
    margin-bottom: 20px;

    .btn {
      margin-left: 10px;
    }
  }

  .program-overview {
    position: relative;

    .program-headings{
      display: flex;
      flex-direction: column-reverse;

    }



    .program-status {
      flex-direction: column;

      .badge {
        margin-right: 10px;
        width: fit-content;
      }

      .updated {
        margin: auto 0;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

  }

  .learner-info {
    .user {
      margin: 0;
    }

    .pipe {
      margin: 0 10px;
    }
  }
}
