.program-record {
  // Needed to override edx-pattern-library default .btn styles
  .btn-primary {
    @extend .btn-primary;

    &:active {
      @extend .btn-primary;
      @extend .btn-primary:active;
    }
    &:focus {
      @extend .btn-primary;
      @extend .btn-primary:focus;
    }
    &:hover {
      @extend .btn-primary;
      @extend .btn-primary:hover;
    }
  }

  // Needed to override edx-pattern-library default .btn styles
  .btn-secondary {
    @extend .btn-secondary;

    &:active {
      @extend .btn-secondary;
      @extend .btn-secondary:active;
    }
    &:focus {
      @extend .btn-secondary;
      @extend .btn-secondary:focus;
    }
    &:hover {
      @extend .btn-secondary;
      @extend .btn-secondary:hover;
    }
  }
  
  // Needed to override edx-pattern-library default .alert styles
  .alert-success {
    @extend .alert-success;
    border: 1px solid #b8dcb8;
    box-shadow: none;
    color: #004300;
    background: #cce6cc;
  }

  // Needed to override edx-pattern-library default .alert styles
  .alert-danger {
    @extend .alert-danger;
    border: 1px solid #e9b9bc;
    box-shadow: none;
    color: #5d0308;
    background: #f0cdcf;
  }

  .modal-header {
    .modal-title {
      font-size: 1.5em;
    }

    .btn {
      color: $black;
      border: none;
    }
  }

  .loading-wrapper {
    .fa {
      margin-right: 10px;
    }
  }

  .form-group {
    padding: 0 20px;
  }
}
