$heading-grey: #4A4A4A;
$paragraph-grey: #707070;
$btn-blue: #0075b4;
$btn-blue-hover-light: #F2F8FB;
$stripe-grey: #F9FAFC;

.paragraph-grey {
  color: $paragraph-grey;
}

.certificate-icon {
  display: inline-flex;
  align-items: center;

  .icon-svg {
      height: 12px;
      width: 12px;
  }
}

.icon-fill {
  fill: $black;

  &.micromasters {
    fill: $micromasters-color;
  }
  &.professional {
    fill: $professional-certificate-color;
  }
}

.text-black {
  color: $black;
}

.top-bar-link {
  @include ltr {
    .fa-caret-right{
      display: none;
    }
  }

  @include rtl {
    .fa-caret-left{
      display: none;
    }
  }
}

.view-record-container {
  color: $gray-700;
  height: 100%;
  width: 100%;

   @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .view-record-btn {
    border: 1px solid $btn-blue;
    color: $btn-blue;
    background-color: transparent;
    display: block;
    width: 100%;
    white-space: normal;

    &:hover,
    &:active,
    &:focus {
      background: $btn-blue-hover-light;
    }
  }
}
