$heading-grey: #4A4A4A;
$paragraph-grey: #757575;
$btn-blue: #126F9A;
$stripe-grey: #F9FAFC;

.paragraph-grey {
  color: $paragraph-grey;
}

.certificate-icon {
  display: inline-flex;
  align-items: center;

  .icon-svg {
      height: 12px;
      width: 12px;
  }
}

.icon-fill {
  fill: $black;

  &.micromasters {
    fill: $micromasters-color;
  }
  &.professional {
    fill: $professional-certificate-color;
  }
}

.text-black {
  color: $black;
}

.view-record-container {
  height: 100%;
  width: 100%;

   @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .view-record-btn {
    border: 1px solid $btn-blue;
    color: $btn-blue;
    background-color: transparent;
    display: block;
    width: 100%;

     @include media-breakpoint-up(md) {
      max-width: 210px;
    }
  }
}
