.certificate {
   background: $gray-100;

  a {
    color: $blue;
  }

  .accomplishment-rendering {
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80% auto;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(md) {
      background-position: center 40px;
      background-size: 50% auto;
    }

    @include media-breakpoint-up(lg) {
      background-position: -325px -50px;
      background-size: 100% auto;
    }

    .watermark {
      @include left(-325px);
      position: absolute;
      z-index: 0;
      top: -49px;
      width: 100%;
      height: auto;
    }
  }

}
