{% load i18n %}
{% load staticfiles %}

<div class="layout-accomplishment view-valid-accomplishment ltr certificate" data-view="valid-accomplishment">

    <div class="wrapper-view" dir="ltr">

        {% include '_header.html' %}

        <div class="wrapper-banner wrapper-banner-user">
            <section class="banner banner-user">
                <div class="message message-block message-notice">
                    <div class="message-text">
                        <h2 class="message-title">
                            {% blocktrans with user_name=certificate_context.user_data.name %}
                                Congratulations, {{ user_name }}!
                            {% endblocktrans %}
                        </h2>

                        <p class="message-copy">
                            {% block message %}
                            {% endblock %}
                        </p>
                    </div>
                    {% include '_actions.html' %}
                </div>
            </section>
        </div>

        <main class="accomplishment accomplishment-main">
            <div class="wrapper-accomplishment-rendering">
                <div class="accomplishment-rendering">
                    {% with certificate_context.program_details.type|slugify as program_type %}
                    <div class='background-watermark'>
                        {% include 'credentials/images/'|add:program_type|add:'-watermark.svg' %}
                    </div>
                    <div class="wrapper-accomplishment-title">
                        <h2 class="accomplishment-title">
                            {% include 'credentials/images/'|add:program_type|add:'-logo.svg' %}
                        </h2>
                    {% endwith %}

                        <div class="wrapper-accomplishment-orgs">
                            <h3 class="accomplishment-orgs-title sr-only">
                                {% trans "Supported by the following organizations" %}
                            </h3>
                            <ul class="wrapper-orgs list-orgs">
                                <li class="wrapper-organization">
                                    <div class="organization">
                                        <img class="organization-logo" src="{{ certificate_context.program_details.organizations.0.logo_image_url }}" alt="{{ certificate_context.program_details.organizations.0.name }} {% trans 'logo' %}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-statement">
                        <div class="accomplishment-statement">
                            <p class="accomplishment-statement-lead">
                                {% blocktrans with user_name=certificate_context.user_data.name %}
                                    <span class="accomplishment-statement-detail copy">This is to certify that</span>
                                    <strong class="accomplishment-recipient">{{ user_name }}</strong>
                                {% endblocktrans %}
                                <span class="accomplishment-summary copy">
                                    {% block accomplishment_summary %}
                                    {% endblock %}
                                </span>
                                <span class="accomplishment-program">
                                    <span class="accomplishment-program-name">
                                        {% firstof certificate_context.credential_title certificate_context.program_details.title %}
                                    </span>
                                </span>

                                <span class="accomplishment-statement-detail copy">
                                    {# Translators: organization_name is the display name for the provided organization e.g (e.g., Test Organization). #}
                                    {% blocktrans with organization_name=certificate_context.program_details.organizations.0.display_name platform_name=site.siteconfiguration.platform_name %}
                                        a program offered by {{ organization_name }}, in collaboration with {{ platform_name }}.
                                    {% endblocktrans %}
                                </span>
                            </p>
                        </div>
                        <div class="accomplishment-signatories">
                            <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" %}</h3>

                            <div class="wrapper-signatories">
                                <div class="list-signatories">
                                    {% for signatory in user_credential.credential.signatories.all %}
                                    <div class="signatory">
                                        {% if signatory.image %}
                                            <img class="signatory-signature" src="{{signatory.image.url}}" alt="{{signatory.name}}">
                                        {% endif %}
                                        <h4 class="signatory-name">{{ signatory.name }}</h4>

                                        <p class="signatory-credentials">
                                            {% autoescape off %}
                                            <span class="role">{{ signatory.title }}</span>
                                                <span class="organization">{% firstof signatory.organization_name_override certificate_context.program_details.organizations.0.name %}</span>
                                            {% endautoescape %}
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-accomplishment-stamps">
                        <ul class="accomplishment-stamps copy-list">
                            <li class="accomplishment-stamp-platform">
                                <a class="img-link" href="http://edx.org">
                                    {% include 'images/edx-logo.svg' %}
                                </a>
                            </li>
                            <li class="accomplishment-stamp-date">
                                <span class="title">
                                    {% block accomplishment_stamp_title %}
                                    {% endblock %}
                                </span>
                                <span class="copy-micro emphasized">{% trans "Issued " %} {{ user_credential.modified|date:"F Y" }}</span>
                            </li>
                            <li class="accomplishment-stamp-validity">
                                <span class="title">{% trans "Valid Certificate ID" %}</span>
                                <span class="emphasized">{{ user_credential.uuid.hex }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wrapper-accomplishment-support">
                <div class="accomplishment-support">
                    <div class="accomplishment-support-print">
                        <p class="support-copy">
                            {% trans "For tips and tricks on printing your certificate, view the" %}
                            <a href="{{ site.siteconfiguration.certificate_help_url }}">
                                {% trans "Web Certificates help documentation." %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="wrapper-accomplishment-metadata">
                <div class="accomplishment-metadata">
                    <div class="accomplishment-metadata-bit accomplishment-metadata-aboutedx">
                        <h3 class="accomplishment-metadata-title">{% blocktrans with platform_name=site.siteconfiguration.platform_name %}About {{ platform_name }}{% endblocktrans %}</h3>
                        <p class="accomplishment-metadata-copy">
                            <a href="{{ site.siteconfiguration.homepage_url}}">{{ site.siteconfiguration.platform_name }}</a>
                            {% blocktrans with platform_name=site.siteconfiguration.platform_name %}
                                offers interactive online classes and MOOCs from the world’s best universities,
                                including MIT, Harvard, Berkeley, University of Texas, and many others. {{ platform_name }} is a non-profit
                                online initiative created by founding partners Harvard and MIT.
                            {% endblocktrans %}
                        </p>
                    </div>

                    <div class="accomplishment-metadata-bit accomplishment-metadata-aboutcert">
                        <h3 class="accomplishment-metadata-title">
                            {% block accomplishment_metadata_title %}
                            {% endblock %}
                        </h3>
                        <p class="accomplishment-metadata-copy">
                            {% block accomplishment_metadata %}
                            {% endblock %}
                        </p>
                    </div>
                </div>
            </div>
        </main>

        <hr class="divider sr-only">

        {% include '_footer.html' %}
        </div>
    </div>
</div>
