{% extends 'credentials/programs/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block message %}
    {% blocktrans with organization_name=certificate_context.program_details.organizations.0.key %}
        You worked hard to earn your Professional Certificate from {{ organization_name }}.
    {% endblocktrans %}
{% endblock %}

{% block accomplishment_summary %}
    {% trans "successfully completed all courses and received passing grades for a Professional Certificate in" %}
{% endblock %}

{% block accomplishment_stamp_title %}
    {% trans "Professional Certificate" %}
{% endblock %}

{% block accomplishment_metadata_title %}
    {% blocktrans with platform_name=site.siteconfiguration.platform_name %}
        About the {{ platform_name }} Professional Certificate
    {% endblocktrans %}
{% endblock %}

{% block accomplishment_metadata %}
    {% blocktrans with program_type=certificate_context.program_details.type platform_name=site.siteconfiguration.platform_name %}
        An {{ platform_name }} Professional Certificate signifies that the learner has completed a group of courses that
        add up to a rich understanding of an area of study. Completion of Professional Certificate Programs requires that learners earn
    {% endblocktrans %}
    <a href="{{ site.siteconfiguration.verified_certificate_url }}">
        {% trans "Verified Certificates" %}
    </a>
    {% trans "from each of the courses included in the Program." %}
{% endblock %}
