{% extends 'credentials/programs/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block message %}
    {# Translators: XSeries should not be translated #}
    {% blocktrans with organization_name=certificate_context.program_details.organizations.0.key %}
        You worked hard to earn your XSeries Program certificate from {{ organization_name }}.
    {% endblocktrans %}
{% endblock %}

{% block accomplishment_summary %}
    {# Translators: XSeries should not be translated #}
    {% trans "has successfully completed all courses and received passing grades for an XSeries Program certificate in" %}
{% endblock %}

{% block accomplishment_stamp_title %}
    {# Translators: XSeries should not be translated #}
    {% trans "XSeries Program certificate" %}
{% endblock %}

{% block accomplishment_metadata_title %}
    {# Translators: XSeries should not be translated #}
    {% blocktrans with platform_name=site.siteconfiguration.platform_name %}
        About the {{ platform_name }} XSeries Program certificate
    {% endblocktrans %}
{% endblock %}

{% block accomplishment_metadata %}
    {# Translators: XSeries should not be translated #}
    {% blocktrans with program_type=certificate_context.program_details.type platform_name=site.siteconfiguration.platform_name %}
        An {{ platform_name }} XSeries Program certificate signifies that the learner has completed a group of courses that
        add up to a rich understanding of an area of study. Completion of XSeries Programs requires that learners earn
    {% endblocktrans %}
    <a href="{{ site.siteconfiguration.verified_certificate_url }}">
        {% trans "Verified Certificates" %}
    </a>
    {% trans "from each of the courses included in the Program." %}
{% endblock %}
