{# This is a stripped down version of the base_body email template from edx-platform. In the #}
{# future we may want to return to this and try to find a common place for the email #}
{# templates used in edx-platform #}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div bgcolor="#f5f5f5" lang="{{ LANGUAGE_CODE|default:"en" }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr" }}" style="
    margin: 0;
    padding: 0;
    min-width: 100%;
">
<!-- CONTENT -->
    <table class="content" role="presentation" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f5f5f5" width="100%" style="
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1em;
        line-height: 1.5;
        max-width: 600px;
        padding: 0 20px 0 20px;
    ">
        <tr>
            <!-- HEADER -->
            <td class="header" style="
                padding: 20px;
            ">
                {% block header %}
                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="70">
                            <a href="https://www.edx.org"><img
                                    src="https://media.sailthru.com/595/1k1/8/o/599f355101b3f.png" width="70"
                                    height="30" alt="{% filter force_escape %}{% blocktrans %}Go to {{ platform_name }} Home Page{% endblocktrans %}{% endfilter %}"/></a>
                        </td>
                    </tr>
                </table>
                {% endblock %}
            </td>
        </tr>

        <tr>
            <!-- MAIN -->
            <td class="main" bgcolor="#ffffff" style="
                padding: 30px 20px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.25);
            ">
                {% block content %}{% endblock %}
            </td>
        </tr>

        <tr>
            <!-- FOOTER -->
            <td class="footer" style="padding: 20px;">
                <table role="presentation" width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- COPYRIGHT -->
                        <td>
                            &copy; {% now "Y" %} {{ platform_name }}, {% trans "All rights reserved" as tmsg %}{{ tmsg | force_escape }}.<br/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
