name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  quality_and_translations_tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          architecture: x64
      - name: Install Dependencies
        run: make requirements
      - name: Install gettext
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gettext
      - name: Run Tests
        run: |
          make check_translations_up_to_date
          make validate_translations
          make quality
          make check_keywords
          make pii_check

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.11"]
        django-version: ["django42"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Setup Nodejs Env
        run: echo "NODE_VER=`cat .nvmrc`" >> $GITHUB_ENV
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Install Dependencies
        run: make requirements
      - name: Install Firefox
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y firefox xvfb
      - name: Run Tests
        env:
          TOXENV: ${{ matrix.django-version }}
        run: |
          make static
          make tests

  code_coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["py38"]
        django-version: ["django42"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          architecture: x64
      - name: Setup Nodejs Env
        run: echo "NODE_VER=`cat .nvmrc`" >> $GITHUB_ENV
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Install Dependencies
        run:
          if [ "${{ matrix.python-version }}" == "3.8" ]; then
            pip install pyyaml==5.4.1
          elif [ "${{ matrix.python-version }}" == "3.11" ]; then
            pip install pyyaml==6.0.1
          fi
          make requirements
      - name: Install Firefox
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y firefox xvfb
      - name: Run Tests (required for code cov)
        env:
          TOXENV: ${{ matrix.django-version }}
        run: |
          make static
          make tests
      - name: Run code coverage
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          fail_ci_if_error: true

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          architecture: x64
      - name: Install Dependencies
        run: make requirements
      - name: Build the docs
        run: make docs
