name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  quality_and_translations_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: x64
      - name: Install Dependencies
        run: make requirements
      - name: Install gettext
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y gettext
      - name: Run Tests
        run: |
          make check_translations_up_to_date
          make validate_translations
          make quality
          make check_keywords
          make pii_check

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["py38"]
        django-version: ["django42"]
        node-version: [ 16.14.0 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: x64
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: make requirements
      - name: Install Firefox
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y firefox xvfb
      - name: Run Tests
        env:
          TOXENV: ${{ matrix.django-version }}
        run: |
          make static
          make tests

  code_coverage:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["py38"]
        django-version: ["django42"]
        node-version: [ 16.14.0 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: x64
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: make requirements
      - name: Install Firefox
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y firefox xvfb
      - name: Run Tests (required for code cov)
        env:
          TOXENV: ${{ matrix.django-version }}
        run: |
          make static
          make tests
      - name: Run code coverage
        uses: codecov/codecov-action@v1
        with:
          flags: unittests
          fail_ci_if_error: true

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: x64
      - name: Install Dependencies
        run: make requirements
      - name: Build the docs
        run: make docs
